<div class="container">


  <div class="row mt-5" style="margin: auto;">
    <div class="col-6 text-center" style="margin: auto;">
      <h2>Our Story</h2><br>
      <p>After struggling to find meaningful and impactful community events beyond college, founders Adam Mitchell and Abe Stein came together to create Blockparty. Blockparty is a platform that makes it easy for millennials to discover cooking classes and culinary centered events, providing a fun, engaging experience while producing meals to address food insecure populations.</p>

      <p>Blockparty’s unique business model leverages existing and underutilized kitchen infrastructure to provide both an engaging and an impactful experience to its customers. By working closely with local agencies addressing food insecurity and hunger, Blockparty is able to distribute the meals quickly and safely to ensure that they are reaching populations in need. Lastly, Blockparty provides an avenue for recent culinary school graduates, part time cooks, and home chefs to expand their personal brand and take part in a mission that is close to home.</p><br>

      <h2>Meet the Blockparty Team</h2>
    </div>
  </div>

  <div class="row mt-3 mb-3" style="margin: auto;">

      <div class="card2 mb-5">
        <img src="<%= image_url('AdamMitchell.jpg')%>" alt="Jane" style="width:100%">
        <div class="container">
          <h2 style="padding-top:10px;">Adam Mitchell</h2>
          <p class="title">Sales &amp; Strategy</p>
          <p>Corporate Entrepreneurship, Sales and Strategy at News Corp, Microsoft</p>
          <p><img src="<%= image_url('icons/mail.svg')%>" height="25px;" width='auto;'> admitch@mit.edu</p>
          <p><img src="<%= image_url('MIT_logo.svg')%>" height="25px;" width=auto;></p>
        </div>

    </div>

      <div class="card2 mb-5">
        <img src="<%= image_url('AbeStein.jpg')%>" alt="Mike" style="width:100%">
        <div class="container">
          <h2 style="padding-top:10px;">Abe Stein</h2>
          <p class="title">Finance &amp; Ops</p>
          <p>International Sales, Strategy and Finance at ProfitBricks GmbH</p>
          <p><img src="<%= image_url('icons/mail.svg')%>" height="25px;" width='auto;'> abestein@mit.edu</p>
          <p><img src="<%= image_url('MIT_logo.svg')%>" height="25px;" width=auto;></p>
        </div>
      </div>

      <div class="card2 mb-5">
        <img src="<%= image_url('carlos.jpg')%>" alt="John" style="width:100%; object-fit: cover;">
        <div class="container">
          <h2 style="padding-top:10px;">Carlos Garcia</h2>
          <p class="title">Developer</p>
          <p>MIT Junior, Computer Science and Engineering </p>
          <p><img src="<%= image_url('icons/mail.svg')%>" height="25px;" width='auto;'> carlosga@mit.edu</p>
          <p><img src="<%= image_url('MIT_logo.svg')%>" height="25px;" width=auto;></p>
        </div>
      </div>

  </div>
</div>
