
  <div class="card3 mb-5" style="">
    <img src="<%= image_url( image )%>" style="width:100%">
    <div class="container-fluid">
      <h2 style="padding-top:10px;"> <%= title %> </h2>
      <p class="title"> <%= subtitle %> </p>
      <p><%= content %></p>
      <p class="text-center"><%= link_to "Event Details", event_path(subcontent), class: "btn btn-primary"%></p>
    </div>
  </div>
