<div class="column">
  <div class="card" style="max-width:400px;">
    <img src="<%= image_url( image )%>" style="width:100%">
    <div class="container">
      <h2 style="padding-top:10px;"> <%= title %> </h2>
      <p class="title"> <%= subtitle %> </p>
      <p><%= content %></p>
      <p> <%= subcontent %></p>
      <p class="text-center"><button class="btn btn-primary">Learn More</button></p>
    </div>
  </div>
</div>
