
  <div class="card mb-5" style="max-width:350px; margin:auto;">
    <img src="<%= image_url( image )%>" style="width:100%">
    <div class="container">
      <h2 style="padding-top:10px;"> <%= title %> </h2>
      <p class="title"> <%= subtitle %> </p>
      <p><%= content %></p>
      <p> <%= subcontent %></p>
      <!-- <p class="text-center"><%= link_to "Learn More", events_path, class: "btn btn-primary"%></p> -->
    </div>
  </div>
