

<!-- Mission Statement -->
<div class="mt-5 mb-5">
  <div class="text-center" style="margin: auto">
    <img src="<%= image_url('favicon.ico')%>" height="100px;" class="mb-5">
    <h2>The Mission</h2>
    <div style="margin: auto; max-width: 100vh;"><p style="color:gray;">Food insecurity is a huge problem in America. Blockparty curates events to help foodies and their friends have amazing culinary experiences while also fighting food insecurity in their communities</p></div>
  </div>
</div>



<!-- Recent Event Cards -->
<div class="row text-center" style="background-color:#f7f7f7;">
  <div class="col mt-5 mb-5 text-center">
      <h2>Recent Events</h2>
  </div>
</div>

<div class="row" style="background-color:#f7f7f7; padding-left: 30px;padding-right: 30px;">

      <%= render partial: "event_card", locals: {image: 'gallery_images/blockparty_4.png',
        title: "Cookies for CASPAR",
        subtitle: "July 5th from 8 - 10pm",
        content: "576 East Bluebird St. Cambridge, MA",
        subcontent: "Our very own Abe Stein will be leading a cooking and smoking lesson for BBQ classic Memphis Ribs. "
      }%>

      <%= render partial: "event_card", locals: {image: 'gallery_images/blockparty_5.png',
        title: "Chef Series: Ribs",
        subtitle: "July 23rd from 7 - 9pm",
        content: "657 Albright Ave. Boston, MA",
        subcontent: "Our very own Abe Stein will be leading a cooking and smoking lesson for BBQ classic Memphis Ribs."
      }%>

      <%= render partial: "event_card", locals: {image: 'gallery_images/blockparty_6.png',
        title: "Cooking Event: Food",
        subtitle: "August 10th from 4 - 7pm",
        content: "100 Main St. Cambridge, MA",
        subcontent: "Our very own Abe Stein will be leading a cooking and smoking lesson for BBQ classic Memphis Ribs."
      }%>



  <!-- events button -->
  <div class="container">
    <div class="row">
      <div class="col text-center mb-5" style="margin:auto;">
        <%= link_to "See Events Near You", events_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>

</div>



<!-- the four bullet points -->
  <div class="text-center mt-5 mb-5">

      <!-- point #1 -->
      <%= render partial: "bullet", locals: {image:"friends-circ.png",
                                              title:"Have fun with friends",
                                              content:"Blockparty provides a unique experience, enjoying food and drink in the company of friends while working together to bring a recipe to life.",} %>

      <%= render partial: "bullet", locals: {image:"learn-circ.png",
                                              title:"Learn",
                                              content:"Whether you’re an experienced chef or beginner, learn to cook (then eat!) new dishes with professional chefs.",} %>

      <%= render partial: "bullet", locals: {image:"hands-circ.png",
                                              title:"Give Back",
                                              content:"Blockparty donates a portion of every payment to local causes battling hunger. Giving back to your community has never been so fun (or tasty!).",} %>

      <%= render partial: "bullet", locals: {image:"friends-circ.png",
                                              title:"Have fun with friends",
                                              content:"Blockparty provides a unique experience, enjoying food and drink in the company of friends while working together to bring a recipe to life.",} %>



  </div>


<!-- video -->
  <!-- <div class="row"> -->
    <!-- <div class="col text-center mb-5" style="margin:auto;"> -->
      <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/S5qUMK-TzOg" frameborder="0" allowfullscreen></iframe> -->
    <!-- </div> -->
  <!-- </div> -->

<!-- events button -->
  <div class="row">
    <div class="col text-center mb-5" style="margin:auto;">
      <%= link_to "See Events Near You", events_path, class: "btn btn-primary"%>
    </div>
  </div>
