<!DOCTYPE html>
<html>
    <head>
        <title>BlockParty</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%= csrf_meta_tags %>
        <%= favicon_link_tag %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
            <nav class="navbar navbar-toggleable-sm navbar-expand-md navbar-light bg-faded fixed-top">

                <div class="container">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand text-primary text-uppercase" href= "<%= root_path %>" >Block Party <span class="small text-capitalize text-muted">Taking Action Made Easy</span></a>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <%= nav_link "Home", root_path %>
                            <%= nav_link "Events", events_path %>

                            <% if current_user.present? %>
                                <li class="nav-item dropdown <%= current_page?(edit_users_path) ? "active <span class='sr-only'>(current)</span>" : '' %>">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <% if current_user.avatar.file.nil? %>
                                          <img class="rounded-circle img-thumbnail" src="<%= image_url('blank_avatar.png') %>" alt="Profile" width="75" height="75" />
                                        <% else %>
                                          <img class="rounded-circle img-thumbnail" src="<%= current_user.avatar_url %>" alt="Profile" width="75" height="75" />
                                        <% end %>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="<%= edit_users_path %>">My Profile</a>
                                        <%= button_to "Log Out", destroy_user_session_path, class: 'dropdown-item', method: :delete %>
                                    </div>
                                </li>
                            <% else %>
                                <li class="nav-item">
                                    <%= nav_link "Log In", new_user_session_path %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                    </div>
            </nav>

            <div class="container-fluid" style = "height:66px">
                <% if notice.present? %>
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= notice %>
                    </div>
                <% end %>
                <% if alert.present? %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= alert %>
                    </div>
                <% end %>
            </div>
        <%= yield %>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=429896290718534";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <footer class="footer">
          <div class="container">
            <div class = "row text-center">
              <div class = "col">
                <span class="text-muted">
                  <br>
                  <p class = "">Blockparty<br> Foodies Fighting Hunger</p>

                </span>
              </div>
            </div>

            <div class = "row text-muted">
              <div class = "col-4 text-center">
                Like and share us on Facebook!
                <div class="fb-like col mt-2" data-href="https://www.facebook.com/Blockparty-1334459073304285/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

              </div>

              <div class = "col-4 text-center">
                Contact<br>
                (123)456-7890<br>
                fake-email@email.com

              </div>

              <div class = "col-4 text-center">
                Follow us on Instagram!<br>
                <button class = "btn btn-primary mt-2">
                  <span> Follow </span>
                </button>

              </div>


            </div>
          </div><br>
        </footer>

    </body>
</html>
